.navbar-right .avatar i{
    padding: 0;
    margin: 10px 0;
    font-size: 40px;
}

select.input-sm {
    height: 40px;
}

div.dataTables_wrapper.dt-bootstrap .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}

div.dataTables_wrapper li {
    text-indent: 0;
}

div.dataTables_wrapper ul li, body.example div.dataTables_wrapper ol li {
    padding: 0;
    border: none !important;
}

.pagination>li {
    display: inline;
}