.navbar-right .avatar i{
    padding: 0;
    margin: 10px 0;
    font-size: 40px;
}

select.input-sm {
    height: 40px;
}


.no-padding{
    padding: 0;
}

.no-padding-tb{
    padding-top: 0;
    padding-bottom: 0;
}
.alert {
    border-radius: 4px;
}

.dataTable tfoot select.form-control,
.dataTableWrapper .dataTables_length select,
.dataTableWrapper .dataTables_filter input { height: 30px; padding: 0 12px;}