/*Signup Form*/
body {
    padding-top: 90px;
    background: #d0e2ff;
}

.full-width-tabs > ul.nav.nav-pills {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-pills > li {
    float: none;
    display: table-cell;
    width: 50%;
}
.full-width-tabs > ul.nav.nav-pills > li > a {
    text-align: center;
    line-height: 30px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #7aa4e8;
    border: none;
    border-radius: 0;
}

.nav-pills > li > a {
    border: none;
}

.card .content {
    padding: 15px 40px;
}

.nav-pills > li:last-child > a {
    border-radius: 0 4px 0 0;
}

.nav-pills > li:first-child > a {
    border-radius: 4px 0 0 0;
}

.site-logo {
    text-align: center;
    margin-bottom: 20px;
}